body {
    background: #f4f2ec url(../Imagem/fundo.png) repeat-x;
	font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

header {
    height: 180px;
    border: 1px solid rgb(255, 0, 0);
    background-image: url(../Imagem/fundo.png);
 
}

header>ul, footer>ul {
    width: 550px;
    font-size: 11px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: 1px solid red;
    margin-left: 45%;
    margin-top: 40px;
    z-index: 2;
}

nav{
    width: 1025px;
    height: 73em;
    display: flex;
    border: 1px solid rgb(255, 0, 0);
    justify-content:space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 10%;
    margin-top: -70px;
    
}

#spot{
    background-image: url(../Imagem/museu.png);
    border: 1px solid red;
    width: 54em;
    height: 325px;
    background-color: white;
    z-index: 1;
}

#spot1{
    background-image: url(../Imagem/depoimento.png) ;
    border: 1px solid red;
    width: 340px;
    height: 320px;
    margin-left: 2%;
    background-color: white;
    z-index: 1;
}

.spot2{
    border: 1px solid red;
    width: 31%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
    display: flex;
}

#contato{
    border: 1px solid red;
    height: 10em;
    width: 420px;
}

#contato1{
    border: 1px solid #f4f2ec;
    height: 31.2em;
    width: 420px;
}

h3{
    text-align: center;
}

#galeria{
    border: 1px solid red;
    height: 30em;
    width: 420px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

#galeria h3 {
    width: 300px;
}

#img{
    height: 100px;
    width: 90px;
    background-image: url(../Imagem/fundo-foto.png);
    padding: 17px 15px 17px 15px;
}

#ingresso {
    font-size: 13px;
    margin-left: 10px;
}

footer>ul {
    margin-left: 25%;
    margin-top: 5%;
}

footer>div {
    margin-left: 35%;
}

#maps{
    margin-top: -120px;
}

#historia{
    margin-top: -110px;
}

#submit {
    margin-left: 70px;
    margin-top: 5px;
}
